@use 'sass:map';
@use '~@angular/material' as mat;

.home {
    margin: 2rem auto;

    &__title {
        font-size: 2rem;
    }

    &__section {
        padding: 1rem;
    }

    &__challenges {
        padding: 2rem 0;
        // background-color: var(--grey);
    }
}
