.challenge {

    overflow: hidden;

    &__placholder {
        height: 5000px;
        color: red;
    }
    &__spinner {

        margin: 3rem auto;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex:1;
    }


    &__title {
        margin-bottom: 1rem;
    }

    &__footer {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__btn {
        margin-left: 5px;
        margin-right: 8px !important;
    }

    &__actions {
        margin-bottom: 0;
        align-self: flex-end;
        justify-self: flex-end;
    }

}