<mat-card class="challenge">


  <img *ngIf="imgUrl" mat-card-image class="challenge__img" [src]="imgUrl" alt="image challenge">

  <div *ngIf="!imgUrl" class="challenge__credentials">
    <mat-spinner class="challenge__spinner"></mat-spinner>
  </div>


  <div class="challenge__content">
    
    <div class="challenge__credentials">
      <h2 class="challenge__title font-white"> {{ challenge.title }} </h2>
      <p class="challenge__bio font-white"> {{ challenge.description }} </p>
    </div>

    <div class="challenge__footer">
      <p class="challenge__auth font-white"> {{ challenge.creatorId  }} </p>
      <mat-card-actions class="challenge__actions">
        <button mat-flat-button color="warn" (click)="onDelete()">Supprimer</button>
        <button mat-raised-button color="primary" [routerLink]="['/game/play', challenge.id]"
        class="challenge__btn">Résoudre</button>
      </mat-card-actions>
    </div>
    
  </div>


</mat-card>
