.game {
  display: flex;
  margin-top: 1rem;

  & > * {
    margin: 5px;
  }

  &__btn {
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

.challenge {
  width: 100%;

  &__options {
    padding: 2px;
    background-color: var(--grey-100);
    display: flex;
    align-items: center;
  }

  &__options-label {
    margin-left: 5px;
    font-size: 1.7rem;
    color: var(--black);
  }

  &__options-item {
    margin-left: 1rem;
    color: var(--white);
  }
}

.displays {
  position: relative;
}

.iframe {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}

/* Hide the second piece of text by default */
.displays .displays__objective {
  visibility: hidden;
  opacity: 0;
}

/* Hide the first piece of text on hover */
.displays:hover .displays__result {
  visibility: hidden;
  opacity: 0;
}

/* Re-show the second piece of text on hover */
.displays:hover .displays__objective {
  visibility: visible;
  opacity: 1;
}
