.game {
  display: flex;
}

.iframe {
  border: 5px solid grey;
  height: 80vh;
  width: 100%;
}

.displays {
  width: 100%;

}

.displays__objective, .displays:hover .displays__result {
  display: none
}

.displays:hover .displays__objective {
  display: block
}