.play {

    &__img {
        width: 400px;
    }

    &__result-imgs {
        display: flex;
        gap: 10px;
    }

    &__imgSubmit {
        width: 300px;
    }

    &__congrat {
        margin-top: 2rem;
    }
}
