<div class="sign">

  <h1 class="sign__title font-white">{{ title }}</h1>

  <img class="sign__btn" (click)="connectWithGoogle()" src="\assets\signin-btn-google.jpg" alt="se connecter google">
  <img class="sign__btn" (click)="connectWithGitHub()" src="\assets\signin-btn-github.jpg" alt="se connecter github">

  <mat-divider class="sign__divider"></mat-divider>

  <form *ngIf="type === 'signIn'" class="sign__mail" [formGroup]="logInForm" (ngSubmit)="onLogin()">

    <h2 class="font-black">Par mail</h2>

    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput minlength="8" type="password" formControlName="password">
      <mat-hint>1 majsucule, 1 minuscule, 1 chiffre</mat-hint>
    </mat-form-field>
    <button class="sign__ok" mat-raised-button color="primary" type="submit" [disabled]="!logInForm.valid">Ok</button>

  </form>


  <form *ngIf="type === 'signUp'" class="sign__mail" [formGroup]="newAccountForm" (ngSubmit)="onNewAccount()">

    <h2 class="font-black">Par mail</h2>

    <mat-form-field  appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="email" formControlName="userName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput minlength="8" type="password" formControlName="password">
      <mat-hint>1 majsucule, 1 minuscule, 1 chiffre</mat-hint>
    </mat-form-field>
    <button class="sign__ok" mat-raised-button color="primary" type="submit" [disabled]="!newAccountForm.valid">Ok</button>

  </form>



</div>
