<div (click)="onDismissClick()" class="modal-background">

    <div (click)="$event.stopPropagation()" class="modal">

        <i class="modal__close" (click)="onDismissClick()">X</i>

        <div class="modal__header">
            <ng-content select="[modalTitle]"></ng-content>
        </div>

        <div class="modal__content">
            <ng-content></ng-content>
        </div>

        <div class="modal__actions">
            <button (click)="onDismissClick()" class="ui button primary">Ok</button>
        </div>

        <div class="modal__footer">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
        
    </div>

</div>