<div (click)="onDismissClick()" class="modal-background">

    <div (click)="$event.stopPropagation()" class="modal mat-app-background">

        <mat-icon class="modal__close font-white" (click)="onDismissClick()">close</mat-icon>
        <!-- <p class="modal__close font-white" (click)="onDismissClick()">Fermer</p> -->

        <div class="modal__header">
            <ng-content select="[modalTitle]"></ng-content>
        </div>

        <div class="modal__content">
            <ng-content></ng-content>
        </div>

        <div class="modal__footer">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
        
    </div>

</div>