<app-layout>

  <div class="create">

    <app-code-editor [defaultCode]="defaultCode" mode="html" (codeChange)="onCodeChange($event)"></app-code-editor>

    <iframe class="create__iframe" #iframeResult frameborder="0"></iframe>


  </div>

  <button class="main-btn create__btn" (click)=" onClick(); modalSaveNew = true">Enregistrer</button>
  <button class="scd-btn create__btn" [routerLink]="['/home']">Annuler</button>


  <app-modal *ngIf="modalSaveNew" (dismiss)="modalSaveNew = false">

    <img class="imgPreview" alt="image preview" [src]="previewImgUrl">

    <form class="create__form" [formGroup]="formChallenge" (ngSubmit)="onSubmit">

      <mat-form-field color="accent" appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill">
        <mat-label for="title">Descritpion</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <button (click)="onSubmit(); $event.preventDefault()" type="submit" class="scd-btn">Save</button>
    </form>
  </app-modal>



</app-layout>
