<app-layout>


  <app-game-layout 
    [starterCode]="defaultCode" 
    (saveEvent)="saveEvent($event)"
    (cancelEvent)="cancelEvent()">
  </app-game-layout>


  <app-modal *ngIf="modalSaveNew" (dismiss)="modalSaveNew = false">
    <img class="imgPreview" alt="image preview" [src]="previewImgUrl">
    <form class="create__form" [formGroup]="formChallenge" (ngSubmit)="onSubmit">

      <mat-form-field color="accent" appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field color="accent" appearance="fill">
        <mat-label for="title">Descritpion</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="onSubmit(); $event.preventDefault()" type="submit">Save</button>
    </form>
  </app-modal>



</app-layout>
