.create {
  display: flex;
  margin-top: 1rem;

  & > * {
    margin: 5px;
  }

  &__iframe {
    height: 525px;
    width: 700px;
  }

  &__btn {
      float: right;
      margin-right: 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    // background-color: var(--main-400);
  }
}
