

.start {
    

    &__content {
        display: flex;
        align-items: center;
    }

    &__message {

        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__img {
        width: 600px;
    }

    &__title {
        margin: 2rem 0;
        font-size: 3rem;
    }
    
    &__logs {
        margin-top: 2rem;
    }

    &__btn {
        margin-right: 2rem;
    }


}
