.start-container {
    margin: 0 auto;
    padding: 2rem;
    width: clamp(400px, 80%, 1400px);
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 3rem 0;
        // text-align: center;
        font-size: 4rem;
    }
    

    &__btn {
        margin: 2rem;
    }


}