<app-layout>

  <div class="start">

    <h1 class="start__title font-white">Bienvenue sur Front-End-Battle</h1>

    <div class="start__logs">
      <button (click)="modalSignIn = true" class="main-btn start__btn">
        Se connecter
      </button>

      <button (click)="modalSignUp = true" class="scd-btn start__btn">
        S'inscrire
      </button>
    </div>

    <app-modal *ngIf="modalSignIn" (dismiss)="modalSignIn = false">
      <app-sign type="signIn" title="Se connecter"></app-sign>
    </app-modal>
    
    <app-modal *ngIf="modalSignUp" (dismiss)="modalSignUp = false">
      <app-sign type="signUp" title="S'inscrire"></app-sign>
    </app-modal>

  </div>

</app-layout>
