

.start {
    

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__message {
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__img {
        width: 600px;
    }

    &__title {
        margin: 2rem 0;
        font-size: 3rem;
        line-height: 60px;
    }
    
    &__logs {
        margin-top: 2rem;
    }

    &__btn {
        margin-right: 2rem;
    }


}
