.play {
    position: relative;

  &__game {
    display: flex;
    justify-content: center;

    & > * {
      margin: 10px;
    }
  }

  &__iframes {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    width: 50vw;

  }
  &__iframe {
    width: 500px;
    height: 375px;
  }

  &__btns {
    
  }

  &__btn {
    margin: 10px;
  }
}