.play {
    position: relative;

  &__game {
    display: flex;
    justify-content: center;

    & > * {
      margin: 10px;
    }
  }

  &__iframes {
    position: relative;
    width: 700px;
    height: 525px;
  }
  &__iframe {
    width: 700px;
    height: 525px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
  }

  &__btns {
    position: absolute;
    right: 7%;
    bottom: -80px;
  }

  &__btn {
    margin: 10px;
  }
}

/* Hide the second piece of text by default */
.displays .objective {
  visibility: hidden;
  opacity: 0;
}

/* Hide the first piece of text on hover */
.displays:hover .result {
  visibility: hidden;
  opacity: 0;
}

/* Re-show the second piece of text on hover */
.displays:hover .objective {
  visibility: visible;
  opacity: 1;
}
