<app-layout>

  <div class="home">


    <div class="home__section container">
      <h2>Créer un challenge</h2>
      <div class="box">
        <button mat-raised-button color="primary" [routerLink]="['/game/create']">C'est partis</button>
      </div>
    </div>
    <mat-divider></mat-divider>


    <div class="home__section container">
      <h2>Mes challenges publiés</h2>

      <div class="challenges">

        <app-challenge-card (challengeDeleted)="onChallengeDeleted()" [challenge]="challenge"
          *ngFor="let challenge of userChallenges">
        </app-challenge-card>
      </div>

    </div>


  </div>

</app-layout>
