.nav {
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    &__items {
        margin-right: 2rem;
        display: flex;
    }

    &__item {
        margin-right: 2rem;
    }

    &__logo {
        font-size: 4rem;
        color: var(--main);
    }
}