<div class="flied">
    <label>{{label}}</label>
    <input [type]="inputType" [formControl]="control">

    <div *ngIf="showErrors()" class="error">
        <p *ngIf="control.errors.required">
            Champs obligatoire
        </p>
    
        <p *ngIf="control.errors.minlength">
            Trop court : {{ control.errors.minlength.actualLength }} / {{ control.errors.minlength.requiredLength }}
        </p>
    
        <p *ngIf="control.errors.maxlength">
            Trop longs : {{ control.errors.maxlength.actualLength }} / {{ control.errors.maxlength.requiredLength }}
        </p>
    
        <p *ngIf="control.errors.pattern">
            Format invalide
        </p>
    
    </div>
</div>