body {
    background-color: var(--white);
}

a, li, p {
    color: var(--white);
    font-family: 'Noto Sans JP';
    font-weight: 200;
    letter-spacing: 1px;
}

button {
    background-color: var(--grey);
    color: var(--white);
    border: none;
    
    &:active {
        outline: none;
        border: none;
      }

    &:focus {
        outline: none;
    }
}


.main-btn {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    padding: .5rem 2rem;
    border-radius: 3px;
}

.scd-btn {
    background-color: var(--grey);
    border: 2px solid var(--blue);
    padding: .5rem 2rem;
    border-radius: 3px;
}