button {
  color: var(--white);
  transition: all 0.2s;

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.main-btn {
  font-family: "Noto Sans JP";
  font-size: 1.1rem;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.scd-btn {
  font-family: "Noto Sans JP";
  font-size: 1.1rem;
  background-color: var(--grey);
  border: 2px solid var(--blue);
  padding: 0.5rem 2rem;
  border-radius: 3px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 4px;
  background-color: var(--grey);
  border: 2px solid var(--light-grey);
}
