:root {
  --deep-black: #1B2027;
  --black: #222831;
  
  --grey: #393e46;
  --light-grey: #656E7C;

  --deep-white: #DEDEDE;
  --white: #eeeeee;

  --deep-main: #00585C;
  --main: #00adb5;
  --light-main: #24F5FF;

  --secondary: #c785ce;

  --transparent: rgba($color: #000000, $alpha: .2);
}
