%font-base {
    letter-spacing: 1px;
    font-family: 'Noto Sans JP';
}

.font-white {
    color: var(--white);
}

.font-black {
    color: var(--black);
}

a, li, p, h1, h2, button {
    @extend %font-base
    
}