.profile {
    background-color: var(--grey);
    margin: 2rem auto;
    border-radius: 3px;
    width: clamp(400px, 80%, 1400px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        color: var(--white);
    }

    &__form {

    }

    &__item {
        margin: 1rem;
    }

    &__btn {

    }
}
