.footer {

    width: 100%;
    position: absolute;
    bottom: 0;

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        margin: 0 20px;
    }

}

