.footer {

    width: 100%;
    position: fixed;
    bottom: 0;

    background-color: var(--grey-500);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    &__items {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        margin: 0 20px;
    }

    &__logo {
        font-size: 1rem;
    }
}