<footer class="footer">
    <div class="footer__logo"> <a class="font-white" href="#">© 2021 Front-End Battle</a></div>

    <ul class="footer__items">
        <li class="footer__item font-white"> <a [routerLink]="['/home']">Accueil</a> </li>
        <li class="footer__item font-white"> <a target="blank" href="https://github.com/Antoine-Flo/front-end-battle">GitHub</a> </li>
        <!-- <li> <a href="#">Faire un don</a> </li> -->
        <!-- <li> <a href="#">About</a></li> -->
    </ul>
</footer>