.tab {
   
    &__label {
        background-color: var(--white);
        font-weight: 600;
        display: flex;
        padding: 0.8rem 2rem;
        justify-content: space-between;

        &-item {
            color: var(--black);
            font-weight: 300;
        }
    }


    &__btn {
        font-family: 'Noto Sans JP';
        font-weight: 500;
        width: 50%;
        padding: 1rem;
    }
}

.active {
    
    color: var(--blue);
    background-color: black;
}