<div class="challenges">

  <div class="box challenges__show">

    <button (click)="onShowChallenges()" class="main-btn">Show Id</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/tuto/tuto.jpg" alt="image challenge">

    <div class="challenge__content">
      <h2 class="challenge__title font-white">Challenge tuto</h2>
      <p class="challenge__txt font-white">Dans ce premier tutoriel prenez en main l'éditeur et les différentes options.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>

  <div [routerLink]="['/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/cards/Card-challenge.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white">Les cartes</h2>
      <p class="challenge__txt font-white">Dans ce challenge réalisez trois cartes simples mais efficaces.</p>
    </div>
    <button [routerLink]="['/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>


</div>
