<div class="challenges">

  

  <div *ngFor="let challenge of challenges$ | async" [routerLink]="['/game/play']" class="challenge box">
    <img class="challenge__img" src="assets/challenges/tuto/tuto.jpg" alt="image challenge">
    <div class="challenge__content">
      <h2 class="challenge__title font-white"> {{ challenge.title }} </h2>
      <p class="challenge__txt font-white"> {{ challenge.description }} </p>
    </div>
    <button [routerLink]="['/game/play']" class="challenge__select scd-btn">Résoudre</button>
  </div>


</div>
