.challenge {
    display: flex;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 4px;
    background-color: var(--grey);

    &__content {
        margin: 1rem;
        width: 100%;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__txt {
        font-weight: lighter;
    }

    &__img {
        height: 200px;
    }

    &__select {
        align-self: flex-end;
        background-color: var(--blue);
        padding: 1rem 2rem;
        border-radius: 10px;
    }
}