<div class="signin">

    <h1 class="signin__title font-white">Se connecter</h1>
    
    <img class="signin__btn" (click)="connectWithGoogle()" src="\assets\signin-btn-google.jpg" alt="se connecter google">
    <img class="signin__btn" (click)="connectWithGitHub()" src="\assets\signin-btn-github.jpg" alt="se connecter github">

    <h2 class="font-white">Se connecter par mail</h2>
    <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      
    
</div>

