.signin {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2rem;
        margin: 2rem;
    }

    &__btn {
        cursor: pointer;
        margin: 1rem;
        width: 20rem;
    }
}