.ace-editor {
  width: 50vw;
  height: 600px;
}

.options {
  padding: 2px;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;

  &__label {
    margin-left: 5px;
    font-size: 1.7rem;
    color: var(--black);
  }

  &__item {
    margin-left: 1rem;
    color: var(--white);
  }
}
